  <li class="active grid" ><a class="color8" href="{% url 'index' %}">HOME</a></li>

  <li class="grid"><a class="color2" href="{% url 'showschemes' %}">View Schemes</a> </li>

<!--    <li class="grid"><a class="color2" href="{% url 'showapplied' %}">View Applied</a></li>-->

  <li class="grid"><a class="color2" href="{% url 'insetuploaddocument' %}">Upload Document</a></li>

<!--  <li class="grid"><a class="color2" href="{% url 'newstatus' %}">View Status</a></li>-->

<!--  <li><a class="color4" href="{% url 'viewmeetingdetailsfarmer' %}">View meeting</a></li>-->

  <li class="grid"><a class="color2" href="{% url 'changepass' %}">Change Password</a></li>

  <li class="grid"><a class="color2" href="{% url 'index' %}">Logout</a></li>

  <style>
.dropbtn {
  background-color: #333333;
  color: white;
  padding: 18px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: yellow;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>


<div class="dropdown">
  <button class="dropbtn">Application Details</button>
  <div class="dropdown-content">
    <a href="{% url 'showapplied' %}">View Applied</a>
    <a href="{% url 'newstatus' %}">View Status</a>
    <a href="% url 'viewmeetingdetailsfarmer' %}">View meeting</a>
  </div>
</div>

